*
{
    margin: 0;
    padding: 0;
}

#container
{
    display: flex;
    flex-flow: row wrap;
    border: solid 2px black;
}


.square
{
    flex-basis: calc(100% / 16);
    box-sizing: border-box;
    border: solid 1px black;
    padding: 10px;
}