*
{
    margin: 0;
    padding: 0;
}

#btnChangeSize
{
    display: block;
    margin: 20px auto;
    font-size: 20px;
    padding: 8px 16px;
}

#container
{
    display: flex;
    flex-flow: row wrap;
    border: solid 2px black;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}


.square
{
    flex-basis: calc(100% / 16);
    box-sizing: border-box;
    border: solid 1px black;
}